http://:11371,
http://pgp.ustc.edu.cn,
https://pgp.ustc.edu.cn {
  bind 202.38.95.91 2001:da8:d800:95::91
  root /var/lib/sks/web/
  gzip {
    ext .html .ico
  }
  cache {
    match_path /pks/
    default_max_age 30m
  }
  proxy /pks/ http://127.0.0.1:11371/ {
    header_downstream Via "{proto} {hostonly}:11371 (Caddy)"
  }
  limits 10mb
  tls zsj950618@gmail.com
  log / stdout "[Caddy:{host}] {combined}"
}

http://sks.ustclug.org,
https://sks.ustclug.org {
  bind 202.38.95.91 2001:da8:d800:95::91
  root /var/lib/sks/web/
  status 404 /
  errors {
    404 others-404.html
  }
  tls self_signed
  log / stdout "[Caddy:{host}] {combined}"
}
